/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the classic template styles here. */
:root {
  --ifm-color-primary: #4f6ef7;
  --ifm-color-primary-dark: #3a56d4;
  --ifm-color-primary-darker: #2a46b4;
  --ifm-color-primary-darkest: #1a3694;
  --ifm-color-primary-light: #6582ff;
  --ifm-color-primary-lighter: #7a95ff;
  --ifm-color-primary-lightest: #a3b8ff;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}